.product-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: margin-left 0.3s; 
    margin-left: 0; 
    justify-content: center; 
    align-items: center; 
}

.product_panelList-wrap,.product_panel-wrap,.product_list-wrap{
    overflow-y: auto;
}

.product_panelList-wrap{
    display: flex;
    flex: 1;
}

.product_list-wrap{
    flex: 1;
    padding: 1rem;
}
 
.sidebar-open .product_panel-wrap {
    margin-right: 120px;
    z-index: 2;
}
  
.sidebar-closed .product_panel-wrap {
    margin-right: 0;
    z-index: 2;
}
  
.panel-open {
    flex-basis: 280px;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
}
  
.panel-closed {
    flex-basis: 0;
    padding: 1rem;
    box-shadow: none;
    background-color: transparent;
    visibility: hidden;
}

/* Botón visible solo en pantallas pequeñas */
.toggle-button, .hideButton {
    display: none;
}

@media (max-width: 767px) {
    .toggle-button {
        display: block;
        position: fixed;
        top: 10px; 
        right: 25px;
        z-index: 2;
    }

    .hideButton {
        display: none;
    }
}

.toggle-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}
  