.label {
    margin-bottom: 0.8rem;
    font-weight: 600;
}

.input-group {
  margin-bottom: 2rem;
}

.label-range {
  margin-bottom: 2.5rem;
}

.button-container {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.filter {
  transition: margin-left 0.3s;
}

.sidebar-open {
  margin-left: 0;
}

.sidebar-closed {
  margin-left: -250px; /* Ajusta el ancho de la barra lateral según tus necesidades */
}


