.cart>a{
    color: white;
}

.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 0.8rem;
}